node_modules/
echo "# api-crud-users." >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Gbourckhardt/api-crud-users..git
git push -u origin main
